<!DOCTYPE html>
        <html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
        <link
        rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <!-- Login/Register -->
    <script src="https://cdn.auth0.com/js/lock/11.10.0/lock.min.js"></script>

</head>
<body>
    <div class="wrapper">
        <header>

            <ul class="downloads">
                <li style="background:#7ed32180;"><a id="btn-login" href="#">Get Your <strong>Token</strong></a></li>
                <li><a target="_blank" href="https://twitter.com/chopsticks_cash">Follow Us <strong>Twitter</strong></a></li>
                <li><a target="_blank" href="https://t.me/joinchat/FmkGFhJBwEvLb00XQ1ztIA">Discuss It <strong>Telegram</strong></a></li>
            </ul>

        </header>

        <section>
            {{ content }}
        </section>

        <footer>

            <p><strong>Stats</strong>: <em>coming soon</em></p>

            <br/> <br/> <br/>

            {% if site.github.is_project_page %}
             <p>Crafted and maintained with ❤️ by <a target="_blank" href="https://eminent.ly">eminent.ly</a> 👌</p>
            {% endif %}

            <p>Contribute:
                <ul>
                    <li><a target="_blank" href="https://github.com/eminently/chopsticks">source code</a></li>
                    <li><a target="_blank" href="https://t.me/joinchat/FmkGFhJBwEvLb00XQ1ztIA">ideas & feedback</a></li>
                    <li><a target="_blank" href="https://github.com/eminently/chopsticks/issues">issues</a></li>
                </ul>
            </p>


            <p>Donate:
                <ul>
                    <li><a target="_blank" target="_blank" href="https://cashaddr.bitcoincash.org/convert?address=qzuw0upmzk83lupq86lc6l62znpqs3k6svtf292dql">send $BCH to our wallet</a></li>
                    <li>or use the money button below: </li>
                </ul>
            </p>

            <!-- This line should go where you want to put your button -->
            <div class="money-button"
                 data-to="609"
                 data-amount="5"
                 data-currency="USD"
                 data-label="Tip "
                 data-client-identifier="407fecd6d30bc57272e6bc81f8e1601e"
                 data-button-id="1537912592580"
                 data-button-data="{}"
                 data-type="tip"
            ></div>

        </footer>
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

    <script>
        var lock = new Auth0Lock(
                'je_O5kamu5zhMaeWGXcqPSp55F2bRHjm',
                'chopsticks.auth0.com'
        );

        document.getElementById('btn-login').addEventListener('click', function() {
            lock.show();
        });

    </script>

    <!-- This line can go anywhere -->
    <script src="https://api.moneybutton.com/moneybutton.js"></script>


{% if site.google_analytics %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}

</body>
</html>